In [4]:
import pandas as pd
# ../ : 폴더를 한칸 나옴(상위폴더)
# ./ : 현재폴더
# / : root 폴더
df = pd.read_excel('../z20_data/score.xlsx',index_col='지원번호')
df

FileNotFoundError: [Errno 2] No such file or directory: '../z20_data/score.xlsx'

In [ ]:
df['이름']

지원번호
1번    강나래
2번    강태원
3번    강호림
4번    김수찬
5번    김재욱
6번    박동현
7번    박혜정
8번    승근열
Name: 이름, dtype: object

In [ ]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [ ]:
df[df.columns[-1]]

지원번호
1번        Python
2번          Java
3번    javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            c#
Name: SW특기, dtype: object

In [ ]:
df[df.columns[1:3]]

NameError: name 'df' is not defined

In [ ]:
df[['학교','이름']]

In [ ]:
df.sort_index(ascending=False) # 역순정렬

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
8번    승근열  단지고  190  100   85   90  95  95          c#
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
6번    박동현  단지고  202   80  100   95  85  80           C
5번    김재욱  구로고  188   15   20   10  35  10         NaN
4번    김수찬  구로고  187   40   60   70  75  80         NaN
3번    강호림  구로고  168   80   75   70  80  75  javascript
2번    강태원  구로고  184   40   35   50  55  25        Java
1번    강나래  구로고  197   90   85  100  95  85      Python

In [ ]:
df['키'].sort_values()

<bound method Series.sort_values of 지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64>

In [ ]:
name=['aaa','bbb','ccc','ddd','eee']
births = [968,155,77,578,973]
custom = [1,5,25,13,23232]

# zip(name,births)
# list(zip(name,births))
bSet = list(zip(name, births,custom))

df = pd.DataFrame(data=bSet, columns=['name','births','custom'])
df


# # 기존방법
# data = {
#     "name":name1, "births":births1, "custom":custom1
# }
# df = pd.DataFrame(data)
# df

  name  births  custom
0  aaa     968       1
1  bbb     155       5
2  ccc      77      25
3  ddd     578      13
4  eee     973   23232

In [ ]:
data = {
    '이름':['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','승근열'],
    '학교':['구로고','구로고','구로고','구로고','구로고','단지고','단지고','단지고'],
    '키':[197,184,168,187,188,202,188,190],
    '국어':[90,40,80,40,15,80,55,100],
    '영어':[85,35,75,60,20,100,65,85],
    '수학':[100,50,70,70,10,95,45,90],
    '과학':[95,55,80,75,35,85,40,95],
    '사회':[85,25,75,80,10,80,35,95],
    'SW특기':['Python','Java','javascript','','','C','PYTHON','c#']    
}

df = pd.DataFrame(data, columns=['학교','키','이름'])
df

    학교    키   이름
0  구로고  197  강나래
1  구로고  184  강태원
2  구로고  168  강호림
3  구로고  187  김수찬
4  구로고  188  김재욱
5  단지고  202  박동현
6  단지고  188  박혜정
7  단지고  190  승근열