In [22]:
# from sklearn import svm,metrics
# from sklearn.neighbors import KNeighborsClassifier # 분류
# from sklearn.neighbors import KNeighborsRegressor  # 회귀-예측
from sklearn.linear_model import LinearRegression  # 선형회귀
from sklearn.preprocessing import PolynomialFeatures # 다항특성을 만들어주는 라이브러리
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False  # 마이너스 표시 해결
# 한글설정
matplotlib.rcParams['font.family'] = 'Malgun Gothic' # windows 사용자
# matplotlib.rcParams['font.family'] = 'AppleGothic Gothic' # Mac사용자
matplotlib.rcParams['font.size'] = '10' # 글자크기

     0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0     p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1     e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2     e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3     p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4     e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
8119  e  k  s  n  f  n  a  c  b  y  ...  s  o  o  p  o  o  p  b  c  l
8120  e  x  s  n  f  n  a  c  b  y  ...  s  o  o  p  n  o  p  b  v  l
8121  e  f  s  n  f  n  a  c  b  n  ...  s  o  o  p  o  o  p  b  c  l
8122  p  k  y  n  f  y  f  c  n  b  ...  k  w  w  p  w  o  e  w  v  l
8123  e  x  s  n  f  n  a  c  b  y  ...  s  o  o  p  o  o  p  o  c  l

[8124 rows x 23 columns]

로지스틱 회귀로 모델링을 하시오.

1
x    3656
f    3152
k     828
b     452
s      32
c       4
Name: count, dtype: int64

In [27]:
df.iloc[0:1, 1:] # 첫번째 열은 버섯의 종류로 target이므로 제외하고, 22개 컬럼을 확인

  1  2  3  4  5  6  7  8  9  10  ... 13 14 15 16 17 18 19 20 21 22
0  x  s  n  t  p  f  c  n  k  e  ...  s  w  w  p  w  o  p  k  s  u

[1 rows x 22 columns]

In [26]:
# 원핫인코딩 변환

target = [] # p, e 버섯종류 2가지
data = []
attr_list = [] # 22개의 append 나와(첫번째 열은 타겟이므로 제외)

for row_index, row in df.iterrows(): # df.iterrow( ) : index, row 넘겨줌
    target.append(row.loc[0]) # row 1행, row[0][0] : p
    row_data = [] # 원핫인코딩된 것을 저장
    for col, v in enumerate(row.loc[1:]):
        if row_index == 0:
            attr = {"dic":{}, "cnt":0} # 컬럼에서 새로운 값이 몇번 나왔는지
            attr_list.append(attr)
        else:
            attr = attr_list[col]
    
        d = [0]*12
        if v in attr['dic']:
            idx = attr['dic'][v]
        else : 
            idx = attr['cnt']
            attr['div'][v] = idx
            attr['cnt'] += 1
            
        d[idx] = 1
        row_data += d
        
    data.append(row_data)
    
data[0]

KeyError: 'div'

In [ ]:
# 데이터 전처리
# result = new_df.iloc[:,1:2]
# new_df.iloc[:,1:]
# result

        p_p
0     False
1     False
2      True
3     False
4     False
...     ...
8118  False
8119  False
8120  False
8121   True
8122  False

[8123 rows x 1 columns]